

a {
    text-decoration: none;
    color: black
}

a:hover {
    text-decoration: none;
}

.homeTopTitle{
    /*position:relative;*/
    z-index:1;
}
.onHoverHomeTitle{
    cursor: pointer; cursor: hand;
}
.homeTopRow{
    padding:0.7rem;
}
.fontTopTitle{
    letter-spacing: 1px;
    color: white;
}

.marginHowItWorks{
    padding-top:3rem;
    padding-bottom:3rem;
}

.homeMainTitle {
    position:relative;
    background-color: transparent;
    /*border: 2px solid white;
    max-width:1000px;*/
    margin-top:14%;
    margin-bottom:0%;
    padding-bottom:2%;
    z-index:1;
}

.homeResultsTitle{
    /*position:relative;*/
    /*background-color: transparent;
    /*margin-bottom:0%;*/
    padding-bottom:2%;
    /*z-index:1;*/
}

.fontMainTitle{
    letter-spacing: 1px;
    text-align: center;
    color: white;
}
.buttonMainTitle{
    text-align: center;
    opacity: 0.5;
}

.homeBackground {
    /*background-image: url('./images/homepage/homepage-background1.jpg');*/
    /*margin-top:3rem;*/
    /*position:relative;*/
    height: 90vh;
}

.homeContainerBackground{
    position: relative;
    height: calc(100% - 6.5rem);
}

.homeContainerSearchBar{
    position:relative;
    height: 6.5rem;
    padding:2rem;
}

.homeContainerSearchBar form, .homeContainerSearchBar form * {
    /*width: 15%;*/
    /*height: 2.5rem !important;*/
    margin:0;
    margin-left:5%;
    margin-right:5%;
}

.buttonSearchBar{
    background-color: #3B87B1;
    color: white;
}

.homeOverlayImage {
    background-color: black;
    opacity: 0.35;
}

.homeOverlaySearchBar {
    /*left:0; */
    background-color: black;
    opacity: 0.65;
}

.homeMainTitle {
    font-family: 'Helvetica', serif;
    margin-left:10%;
}

.homeAppName {
    font-family: 'Segoe UI', serif;
    font-weight: 300;
    font-stretch: expanded;
    font-size: 150%;
}


.homeTopRow a{
    color: white
}

