/* move special fonts to HTML head for better performance */


.wrapper {
    height: 100%;
    margin-left:0;
    margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}


.wrapper:after,
.column:after {
    clear: both;
}

#sidebar{
    position: fixed;
    height:35.5rem;
}

#sidebar, #sidebar a {
    color:#ffffff;
    background-color:#343536;
}

#sidebar a.logo {
    display:block;
    padding:5px;
    background-color:#fff;
    color:#777777;
    height:3rem;
    width:3rem;
    margin-top: 2rem;
    font-size:26px;
    font-weight:700;
    text-align:center;
    text-decoration:none;
    text-shadow:0 0 0;
}


/* center and adjust the sidebar contents on smaller devices */
@media (max-width: 768px) {
    #sidebar,#sidebar a.logo {
        text-align:center;
        margin:0 auto;
        margin-top:30px;
        font-size:26px;
    }
    #sidebar a.logo {
        font-size:50px;
        height:75px;
        width:75px;
        margin-bottom:30px;
    }
}


.formProfile{
    padding:1rem;
    margin-bottom:1rem;
    border-style: solid;
    border-width: 0.07rem;
    border-color: gainsboro;
}

.socialNetworkLogo {
    height:20px;
    width:20px;
}

.titleProfile{
    color: black;
}