.commonContainer{
    background-color: #EFEFEF;
}

.commonRadius {
    border-radius: 3px;
}

.commonOverlay{
    top:0;
    bottom:0;
    left:0;
    width:100%;
    position:absolute;
}

.commonMainTitle {
    font-family: 'Helvetica', serif;
    margin-left:10%;
}

.commonMarginNavbar{
    margin-top: 10rem;
}

