.commonContainer{
    background-color: #EFEFEF;
}

.commonRadius {
    border-radius: 3px;
}

.commonOverlay{
    top:0;
    bottom:0;
    left:0;
    width:100%;
    position:absolute;
}

.commonMainTitle {
    font-family: 'Helvetica', serif;
    margin-left:10%;
}

.commonMarginNavbar{
    margin-top: 10rem;
}

.commonUnderlineNavbar{
    border: 0;
    width:100%;
    background-color: #99A1A3;
    height: 1px;
}

.commonForm{
    background-color: white;
}

.commonSidebarLink{
    color: white;
}


/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}


