.resultElement {
    background-color:white;
    padding:1rem;
    margin-bottom:1rem
}

.resultTitle {
    font-family: "Helvetica", serif;
    /*font-weight: bold;*/
}

.resultTitle:hover {
    color: #1a1aff;
    cursor: pointer; cursor: hand;
    /*font-weight: bold;*/
}

.resultDividerBlue {
    border: 0;
    width:25%;
    background-color: blue;
    height: 1px;
}

.resultDividerRed {
    border: 0;
    width:25%;
    background-color: red;
    height: 1px;
}

.resultDividerGreen {
    border: 0;
    width:25%;
    background-color: green;
    height: 1px;
}

.resultText {
    font-family: 'SegoeUI', serif;
    font-size:120%;
}

.resultImage {
    max-width: 5rem;
    min-width: 5rem;
}

.resultThumbnail {
    max-width: 15rem;
    min-width: 15rem;
}