.resultElement {
    background-color:white;
    padding:1rem;
    margin-bottom:1rem
}

.resultTitle {
    font-family: "Helvetica", serif;
    color:#271E78;
    /*font-weight: bold;*/
}
.resultProfileName{
    color:#271E78;
}

.resultTitle:hover {
    cursor: pointer; cursor: hand;
    /*font-weight: bold;*/
}

.resultOnHoover{
    text-decoration: none !important;
}

.resultDividerBlue {
    border: 0;
    width:25%;
    background-color: blue;
    height: 1px;
}

.resultDividerRed {
    border: 0;
    width:25%;
    background-color: red;
    height: 1px;
}

.resultDividerGreen {
    border: 0;
    width:25%;
    background-color: green;
    height: 1px;
}

.resultText {
    font-family: 'SegoeUI', serif;
    font-size:120%;
}

.resultImage {
    max-width: 4rem;
    min-width: 4rem;
}

.resultArticlePicture{
    max-width: 10rem;
    min-width: 10rem;
    padding-top: 1.5rem;
}

.resultThumbnail {
    max-width: 15rem;
    min-width: 15rem;
}