.marginResultThumbnail{
    /*padding-left: 2rem;/*margin-left: 2rem;*/
}

.thumbnailCategory{
    background-color:#77B5C9;
    opacity: 0.7;
    z-index: 1;
    border-radius: 3px;
    /*margin-left: 5rem;*/
}

.marginPromotion{
    margin-left: 1.5rem;
    margin-right: 0.6rem;
}

.textThumbnailCategory{
    text-align: center;
    color:#EFEFEF;
    font-family: "Helvetica", serif;
}
